/* Global Style 
	--------------
*/

/* Initial Setup */
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@function shadowThickness($px: 1) {
	@return -$px+px 0 black, 0 $px+px black, $px+px 0 black, 0 -$px+px black;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --max-width: 1100px;
	--primary: #ddd;
	--secondary: #00ffff;
	--bgColor: #102020;
	/* --font: 'Noto Sans KR', Tahoma, Geneva, Verdana, cursive; */
}
@media (prefers-color-scheme: dark) {
  :root { --foreground-rgb: 255, 255, 255 }
}


/* Layers */
@layer base {
	a { @apply no-underline font-bold }
	h2, h3 { @apply text-2xl font-semibold mt-3 mb-3 text-white }
	h3 { @apply text-lg m-0 }
}
@layer utilities {
	.trans-all3 { transition: all .3s }
	.hoverlink { @apply text-black h-[24px] bg-[var(--secondary)] trans-all3 }
	.unittime { @apply text-pink-500 p-1 }
	.center-horizontal { @apply flex flex-row place-items-start text-center }
	.center-vertical { @apply flex flex-col justify-center place-items-center align-middle }
}
@layer components {
	.link { @apply h-0 text-[var(--secondary)] inline-block hover:hoverlink trans-all3 }
	.txtshadow { text-shadow: -2px 0 black, 0 1px black, 2px 0 black, 0 -1px black }
	/* .checkmark {
		@apply w-3 ml-[7.4rem] p-0 overflow-x-hidden absolute z-10;
		&:hover { @apply w-[6.4rem] text-[#59ba8f] border border-slate-400 trans-all3 }
	} */
}


/* General */
* { @apply outline-none }
html, body { @apply max-w-[100vw] overflow-x-hidden }
body {
  @apply m-6 bg-gray-700 bg-fixed bg-center bg-no-repeat /*container mx-auto*/;
	font-size: small;
	background-image: url('../public/bg.jpg');
  /* background: rgb(var(--background-end-rgb)); */
	/* font-family: var(--font); */
  color: rgb(var(--foreground-rgb));
}


/* Header */
header {
  @apply rounded-md bg-slate-800;
	img#logo { @apply w-10 h-10 rounded-full }
	nav {
		@apply w-full;
		div#topnavi {
			@apply w-full h-full pl-5 flex justify-between border-l border-transparent border-slate-500;
			.menu, .menu-right {
				@apply bg-slate-900;
				span {
					@apply border border-transparent border-solid
						z-[1] leading-[2.3] inline-block text-lg py-1 px-5 relative;

					/* a { @apply inline-block h-12 text-slate-200 } */
				}
			}
			.menu > span:hover { @apply h-[50px] transition ease-in border border-white border-solid }
			.menu-right {
				span.koreatime {
					@apply m-0;
					span.krtime  { @apply unittime }
				}
			}
		}
	}
}


/* Main */
main {
	@apply w-full;
	section { 
    &.updates, &.welcome { @apply w-1/4 }
    &.welcome article { @apply pb-7 }
		&.updates {
			@apply text-gray-200 bg-slate-600 rounded-md p-3 my-1;
			article { @apply bg-slate-800 }
		}
	}
  article { @apply text-gray-200 bg-slate-600 rounded-md p-3 my-1 }
  aside { @apply bg-white rounded-md }
}


/* Components */
.event, .event-header {
	display: grid;
	grid-template-columns: 6rem 8rem 5rem 10rem 5fr 11.5rem 10rem;
	@apply xl:text-sm ;

	&-header {
		@apply mb-3;
		span {
			@apply border border-black rounded-md font-bold txtshadow bg-slate-800 p-1 xl:h-10 flex items-center;
			&:last-of-type { @apply border-r }
		}
	}
}
.event {
	&:hover span { @apply border-slate-500 }
	
	& > span {
		@apply flex flex-col justify-center border border-black rounded-md txtshadow bg-slate-900 xl:h-8 px-1;
		
		&.event-actions {
			.fa-edit, .fa-xmark, .fa-clock { @apply hover:text-cyan-500 cursor-pointer  }
		}
		&.date {}
		&.time {}
		&.category { @apply font-semibold }
		&.eventname { @apply font-semibold md:leading-[0.85rem] px-1 }
		&.countdown {
			span.commenced { @apply text-yellow-500 border-0 text-xs pt-[1.5px] h-3}
			span.evtime, span.krtime { @apply unittime }
		}
		&.eventinfo { 
			/* @apply table align-middle; 
			div { @apply border border-slate-500 rounded-md table-cell text-center align-middle } */
			@apply flex flex-row justify-start text-center; 
			div { @apply flex border border-slate-700 rounded-md place-items-center px-3 }
			.confirmed { 
				@apply text-slate-500 font-bold cursor-default;
				span { @apply w-5}
			}
		}
	}
}
.memory {
	@apply grid h-[600px] w-[600px] border-2 bg-slate-700 border-black m-[35px] p-5;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
	gap: 3px;
	
	.card-wrap {
		@apply w-full h-full bg-cover;
		.card { 
			@apply border-2 h-full border-black cursor-pointer bg-cover;
			&.flipped { @apply border-2 border-yellow-500 }
			/* &.flipback { 
				transition: all .5s ease-out;
				filter: brightness(0)
			} */
			&.solved { @apply opacity-0 pointer-events-none border}
			&.disappear {
				transform: scale(3);
				transition: all .3s ease-out;
				animation-delay: .3s;
				animation-name: fadeOut;
				animation-delay: .3s;
				animation-duration: .3s;
				visibility: hidden;
			}
			@keyframes fadeOut {
				from { 
					opacity: 1;
					visibility: visible;
				}
				to { 
					opacity: 0;
					visibility: hidden; 
				}
			}
		}
	}
}

/* .memory-game {
  text-align: center;
} */

/* h1 {
  margin-bottom: 20px;
} */

/* .card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
} */

/* .card {
  width: 100px;
  height: 100px;
  margin: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  perspective: 1000px;
  transition: transform 0.5s;
}

.card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 20px;
  font-weight: bold;
} */

/* .flipped {
  transform: rotateY(180deg);
}

.solved {
  background-color: #ccc;
  cursor: default;
} */

/* @media (max-width: 600px) {
  .card {
    width: 80px;
    height: 80px;
  }

  .card-content {
    font-size: 16px;
  }
} */